.replybtn {
  font-size: small;
  font-weight: bold;
  background-color: transparent;
  color: #aaaaaa;
  padding: 0;
  height: 1.5rem;
  border: none;
}
.custom-input{
  background: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
  outline-style: none;
  color: white;
}
.post-reply-btn{
  font-size: small;
  font-weight: bold;
  background-color: transparent;
  color: #aaaaaa;
  padding: 0;
  height: 1.5rem;
  border: none;

}