.comment__body {
  width: 500px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.comment__usrname {
  font-size: medium;
  font-weight: bold;
  color: white;
}

.comment__text {
  font-size: small;
  color: white;
  margin-left: 35px;
}

.comment__footer {
  display: flex;
  gap: 10px;
}
.profile-circle{
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: rgb(95, 145, 240);
  border-radius: 50%;
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-right: 5px;
  font-weight: bold;
}
.flex{
  display: flex;
  align-items: baseline;
}