.custom-reply{
    color: white;
    margin-left: 25px;
}
.custon-username{
    font-size: medium;
}
.custom-text{
    font-size: small;
    margin-left: 35px;
}
.profile-circle{
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: rgb(95, 145, 240);
    border-radius: 50%;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin-right: 5px;
  }
  .flex{
    display: flex;
    align-items: baseline;
  }