ul {
  display: flex;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #202020;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navBar__button {
  background: transparent;
  border: 2px solid rgb(36, 173, 252);
  color: rgb(36, 173, 252);
  padding: 0.4rem 0.5rem;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
