ul {
  display: flex;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #202020;
  color: white;
  border-style: solid;
  border-color: #303030;
  border-width: 1px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navBar__button {
  background: transparent;
  border: 2px solid rgb(36, 173, 252);
  color: rgb(36, 173, 252);
  padding: 0.4rem 0.5rem;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
.custom-btn{
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: rgb(95, 145, 240);
  border-radius: 50%;
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-right: 5px;
  font-weight: bold;

}
